<h2>Aviso</h2>
<ul >
  <li *ngFor="let aviso of avisos" (click)="goEdit(aviso)"
  [class.selected]="aviso === selectedAviso">
    
    <span >{{aviso.id}}</span>
    <span>{{aviso.descripcion}}</span>
    <span>{{aviso.fecha | date: 'dd/MM/yyyy'}}</span>
    <ng-container *ngIf="aviso.tipoAviso">
      <span>{{aviso.tipoAviso.descripcion}}</span>
    </ng-container>
    <button class="delete"
      (click)="delete(aviso); $event.stopPropagation()">x</button>
  </li>
</ul>
<button class="create"
(click)="goCreate(); $event.stopPropagation()">Create</button>
<button class="create"
(click)="goMenu(); $event.stopPropagation()">Menu</button>