<h2>Aviso</h2>
<ul >
  <li *ngFor="let aviso of avisos" (click)="goEdit(aviso)"
  [class.selected]="aviso === selectedAviso">
    
    <span >{{aviso.id}}</span>
    <span>{{aviso.descripcion}}</span>
    <span>{{aviso.fecha | date: 'dd/MM/yyyy'}}</span>
    <ng-container *ngIf="aviso.tipoAviso">
      <span>{{aviso.tipoAviso.descripcion}}</span>
    </ng-container>
    <button class="delete"
      (click)="delete(aviso); $event.stopPropagation()">x</button>
  </li>
</ul>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
            
          </div>
          <div class="body table-responsive">
              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>FIRST NAME</th>
                          <th>LAST NAME</th>
                          <th>USERNAME</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                      </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                      </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>Larry</td>
                          <td>Jellybean</td>
                          <td>@lajelly</td>
                      </tr>
                      <tr>
                          <th scope="row">5</th>
                          <td>Larry</td>
                          <td>Kikat</td>
                          <td>@lakitkat</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
