<div class="container-fluid">
  <div class="block-header">
    <ng-container *ngIf="!updateFlag">
      <h2>Agregar Usuario</h2>
    </ng-container>
    <ng-container *ngIf="updateFlag">
      <h2>Modificar Usuario</h2>
    </ng-container>
  </div>
  <!-- Input -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body">
          <div class="row clearfix">
            <div class="col-sm-6">
              <h2 class="card-inside-title">Nombre de Usuario</h2>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" [(ngModel)]="usuario.usr" placeholder="Nombre de Usuario" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h2 class="card-inside-title">Fecha Inscripción</h2>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="datepicker form-control" [ngModel]="usuario.fechaInscripcion  | date:'yyyy-MM-dd'" (ngModelChange)="usuario.fechaInscripcion = $event"
                    name="fecha" placeholder="Fecha" />
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h2 class="card-inside-title">Persona</h2>
              <select class="form-control show-tick" data-live-search="true" name="persona" required [(ngModel)]="usuario.persona" #persona="ngModel">
                <option [ngValue]=undefined disabled> Seleccionar</option>
                <option *ngFor="let persona of personaCombo" [ngValue]="persona">{{persona.nombre}} {{persona.apellido}}</option>
              </select>
            </div>
          </div>
          <div class="row clearfix demo-button">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" (click)="goBack()">
                Volver
              </button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <ng-container *ngIf="!updateFlag">
                <button type="button" class="btn btn-block btn-lg btn-success waves-effect" (click)="save()">
                  Agregar
                </button>
              </ng-container>
              <ng-container *ngIf="updateFlag">
                <button type="button" class="btn btn-block btn-lg btn-success waves-effect" (click)="update()">
                  Modificar
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>