<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            CURSADO
            <small>En esta sección se podrá realizar la inscripción.</small>
          </h2>
        </div>
        <div class="body">
          <div class="row">
            <div *ngIf="isAdmin()">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" [routerLink]="['/menu/inscripciones']">INSCRIPCIÓN A CURSADO</button>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
              <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" [routerLink]="['/menu/comisiones']">COMISIONES</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
              <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" [routerLink]="['/menu/evaluaciones']">EVALUACIONES</button>
            </div>
            <div *ngIf="!isAdmin()">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" [routerLink]="['/menu/cargar-notas']">CARGAR NOTAS</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>