<div *ngIf="aviso">
  <h2>{{aviso.descripcion}} </h2>
  <div *ngIf="aviso.id">
    <label>Id: </label>{{aviso.id}}</div>
  <div>
    <label>descripcion: </label>
    <input [(ngModel)]="aviso.descripcion" placeholder="descripcion" />
    <select class="form-control show-tick" name="tipoAviso" 
          required 
          [(ngModel)]="aviso.tipoAviso"
          #tipoAviso="ngModel">
      <!-- <option [ngValue]=undefined disabled> Seleccione..</option> -->
      <option *ngFor="let tipoAviso of tipoAvisoCombo" [ngValue]="tipoAviso">{{tipoAviso.descripcion}}</option>
    </select>
   </div>
  <button (click)="goBack()">Back</button>
  <ng-container *ngIf="!updateFlag">
    <button (click)="save()">Create</button>
  </ng-container>
  <ng-container *ngIf="updateFlag">
    <button (click)="update()">Update</button>
  </ng-container>
</div>