<body>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>MENU</h2>
            </div>
            <div class="body">
                <div class="list-group">
                    <button type="button" class="list-group-item" [routerLink]="['/avisos']" routerLinkActive="active">Avisos</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item">Vestibulum at eros</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Button Items -->
</body>