<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        AVISOS
                        <small>En esta sección se podrán cargar, modificar y eliminar tanto avisos como tipos de aviso.</small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                            <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" [routerLink]="['/menu/avisos']">AVISOS</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                            <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" [routerLink]="['/menu/tipo-aviso']">TIPO AVISOS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>