<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    AVISOS
                    <small>En esta sección se podrán cargar, modificar y eliminar tanto avisos como tipos de aviso.</small>
                </h2> 
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-sm-6  col-md-4">
                        <div class="thumbnail">
                          <div class="caption" style="text-align: center;">
                              <h3>AVISOS</h3>
                          </div>
                          <img src="../assets/images/aviso.jpg" [routerLink]="['/menu/avisos']" style="cursor: pointer;">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail" style="cursor: pointer;">
                          <div class="caption" style="text-align: center;">
                              <h3>TIPOS DE AVISOS</h3>
                          </div>
                          <img src="../assets/images/tipoaviso.jpg" [routerLink]="['/menu/tipo-aviso']" style="cursor: pointer;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
  